{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="/static/assets2/style.css">
  <title>Instagram | Login </title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo"></div>
      <div class="form-data">
        <form style="margin:20px;" action="/accounts/login/" method="POST">
          {% csrf_token %}
          {% bootstrap_form form%}
          <button class="form-btn btn-info btn-md" style="padding-left:130px;padding-right:130px; margin:20px;"
            type="submit">Log in</button>
          <br><br>
          <p class="has-separator" style="margin-left: 150px;">Or</p>
          <br>
          <a class="facebook-login" style="margin-left: 100px;" href="https://www.facebook.com/">
            <i class="fab fa-facebook-square"></i> Log in with Facebook
          </a>
          <br><br>
          <a class="password-reset" style="margin-left: 125px;" href="#">Forgot password?</a>
        </form>
        <div class="sign-up">
          Don't have an account? <a href="{% url 'sign-up' %}">Sign up</a>
        </div>
        <div class="get-the-app">
          <span>Get the app.</span>
          <div class="badges">
            <img src="/static/assets2/images/app-store.png" alt="app-store badge">

            <img src="/static/assets2/images/google-play.png" alt="google-play badge">

          </div>
        </div>
      </div>
    </div>
</body>

</html>
{% endblock %}